.carousel{
                background: #f05f40;
                margin-top: 1%;
                padding-top: 1%;
                padding-bottom: 1%;
                /*height: 435px;*/
            }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
     .story-header{    text-align: center;
    font-size: 15vw;
    color: #01579B;
    height: 110px;
    /* margin-top: 4%; */
    padding-top: 2%;
    font-family: 'Unica One';}
     .story-content{
                height: 100px;
                margin-top: 20%;
            }
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
         .textParaImg{
                color: #222;
                
                font-family: Indie Flower;
                font-size: 18px;
                font-weight: bold;
                text-align: center;

            }
              .countdown-header{
                text-align: center;
                font-size: 52px;
                color: #fff;
                padding-top: 2%;
                font-family: Flavors;

            }
             .countdown  {
                /*display: inline-block;*/
                line-height: 1;
                padding: 20px;
                font-size: 40px;
                text-align: center;
                font-family: 'Lobster', cursive;
                color: white;
                /*background: #222;*/
            }
            #days {
                font-size: 26vw;
                color: #db4844;
                padding-bottom: 2%;
            }
            #hours {
                font-size: 21vw;
                color: #f07c22;
                padding-bottom: 2%;
            }
            #minutes {
                font-size: 16vw;
                color: #f6da74;
                padding-bottom: 3%;
            }
            #seconds {
                font-size: 11vw;
                color: #abcd58;
            }
             .fixed-height{
                min-height: 100vh;
            }

}
@media (min-width: 767px) and (max-width: 992px ) {
     .fixed-height{
                min-height: 100vh;
            }
    #days {
                font-size: 10vw;
                color: #db4844;
            }
            #hours {
                font-size: 8vw;
                color: #f07c22;
            }
            #minutes {
                font-size: 6vw;
                color: #f6da74;
            }
            #seconds {
                font-size: 4vw;
                color: #abcd58;
            }
     .countdown  {
                /*display: inline-block;*/
                line-height: 1;
                padding: 20px;
                font-size: 40px;
                text-align: center;
                font-family: 'Lobster', cursive;
                color: white;
                background: #222;


            }
      .countdown-header{
                text-align: center;
                font-size: 60px;
                color: #fff;
                padding-top: 2%;
                font-family: Flavors;

            }
     .story-header{
                text-align: center;
                font-size: 3vw;
                color: #01579B;
                height: 145px;
                /* margin-top: 4%; */
                padding-top: 2%;
                font-family: 'Unica One';
            }
            .story-content{
                height: 202px;
            }
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
     .fixed-height{
                min-height: 100vh;
            }
    
    #days {
                font-size: 10vw;
                color: #db4844;
            }
            #hours {
                font-size: 8vw;
                color: #f07c22;
            }
            #minutes {
                font-size: 6vw;
                color: #f6da74;
            }
            #seconds {
                font-size: 4vw;
                color: #abcd58;
            }
     .countdown  {
                /*display: inline-block;*/
                line-height: 1;
                padding: 20px;
                font-size: 40px;
                text-align: center;
                font-family: 'Lobster', cursive;
                color: white;
                background: #222;


            }
      .countdown-header{
                text-align: center;
                font-size: 60px;
                color: #fff;
                padding-top: 2%;
                font-family: Flavors;

            }
     .textParaImg{
                color: #222;
                
                font-family: Indie Flower;
                font-size: 26px;
                font-weight: bold;
                text-align: center;

            }
     .story-header{
                text-align: center;
                font-size: 3vw;
                color: #01579B;
                height: 145px;
                /* margin-top: 4%; */
                padding-top: 2%;
                font-family: 'Unica One';
            }
            .story-content{
                height: 202px;
            }
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}


.navbar-fixed-top.scrolled {
  background-color: #f05f40 !important;
  transition: background-color 200ms linear;
  color: #fff !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

/*masthead*/
header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("../external/images/sumoni1_2.jpg");
  background-size: contain;
  
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner h1 {
        font-family: Monoton;
      font-size: 30px;
      /*font-weight: 700;*/
      margin-top: 70%;
      margin-bottom: 0;
      text-transform: uppercase; }
    header.masthead .header-content .header-content-inner hr {
      margin: 30px auto; }
    header.masthead .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 767px) {
    header.masthead {
      height: 100%;
      min-height: 100vh; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 50px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; 
          font-family: Lobster;} }
  @media (max-width: 991px) and (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 98vh; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 50px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; 
          font-family: Lobster;} }
  @media (max-width: 1023px) and (min-width: 992px) {
    header.masthead {
      height: 100%;
      min-height: 98vh; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 50px;
            font-family: Lobster;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }
    @media (min-width: 1024px) {
    header.masthead {
      height: 100%;
      min-height: 100vh; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 50px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto;
          font-family: Lobster;} }
  /*end of Masthead*/
/*  hr {
                display: block;
                margin-left: auto;
                margin-right: auto;
                color: #222;
                height:20px;
                background:url("../external/images/hrImage.jpg");
                border:0;
                border-color: #222;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
            }*/
            .eventsInviteSangeet{
                margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-family: Lobster;
    font-size: 30px;
    color: #f05f40;
                
            }
            .eventsInviteWedding{
                
            }
            .eventsInviteReception{
                
            }
            .eventsInvite{
                    width: 100%;
                    max-width: 100%;
                     height: 438px;
                      border: 5px solid #f05f40;
                     border-radius: 50%;
            }
            .thankYou{
                background-color: cornsilk;
    
            }
            .thankYouText{
    text-align: center;
    font-family: Pacifico;
    font-size: 40px;
    margin-top: 4%;
            }
            .centerImage{
                    text-align: -webkit-center;
            }
           